# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs

# custom
logs

# Local gradle customizations (e.g. added mods)
custom.gradle
# Flatdir repo for mods not available on a proper Maven server
flatdir

# cache
.cache
__pycache__
Thumbs.db
